{% extends 'home/common_page_ressources.html' %}

{% block title %} Activation {% endblock %}

{% block content %}
<p>

    <h1>
        DETAILS sur l'activation
    </h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     Ad blanditiis sed provident! Blanditiis deserunt nostrum ad laboriosam ducimus omnis, 
     nihil dolores eos, vel porro suscipit unde illum quae optio inventore.
     Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Ad blanditiis sed provident! Blanditiis deserunt nostrum ad laboriosam ducimus omnis, 
      nihil dolores eos, vel porro suscipit unde illum quae optio inventore.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad blanditiis sed provident! Blanditiis deserunt nostrum ad laboriosam ducimus omnis, 
       nihil dolores eos, vel porro suscipit unde illum quae optio inventore.
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Ad blanditiis sed provident! Blanditiis deserunt nostrum ad laboriosam ducimus omnis, 
        nihil dolores eos, vel porro suscipit unde illum quae optio inventore.
</p>


{% endblock %}

