<footer class="bg-primary text-white text-center text-lg-start mt-3">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">FAST SOFTWARE</h5>

                <p>
                    L'inovation Technologique à votre service!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'downloads' %}" class="text-white">Telechargement</a>
                    </li>
                    <li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Reseau sociaux</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://wa.me/+237674579282" class="text-white">Wathsapp</a>
                    </li>
                     <li>
                        <a href="https://mail.to/tsafackvidal999@gmail.com" class="text-white">Gmail</a>
                    </li>
                    <li>
                        +237 674 579 282
                    </li>
                    <li>
                        +237 694 976 586
                    </li>
                   
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->

    <!-- Copyright -->
</footer>


<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
        
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2025 Copyright: FAST SOFTWARE
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>